<!--

<header>
    <div class="container p-3">
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <img src="/img/Copamex.png" width="40" height="45" class="me-2" viewBox="0 0 118 94">
            <span class="fs-4">Cocorsa Mx</span>
          </a>
        </div>
        <div class="text-end">
          <button onclick="logout()" class="btn btn-danger">Cerrar Sesion</button>
        </div>
    </div>
</header>


-->

<header>
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="/img/copamex_blanco.png" width="60" height="55" class="me-2" viewBox="0 0 118 94">
          <span class="fs-4">Servicio de Comedor</span>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="/register" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="/register"/></svg>
              Registro
            </a>
          </li>
          <li>
            <a href="/editUser" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="/editUser"/></svg>
              Editar Usuario
            </a>
          </li>
          <li>
            <a href="/report" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="/report"/></svg>
              Reporte
            </a>
          </li>
          <li>
            <a href="/support" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="/support"/></svg>
              Soporte
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-2">
    <div class="container d-flex flex-wrap justify-content-end">
      <div class="text-end">
        <button onclick="logout()" class="btn btn-danger">Cerrar Sesion</button>
      </div>
    </div>
  </div>
</header>