<div class="modal-window" id="open-modal">
    <div>
        <article class="modal-container">
            <header class="modal-container-header">
                <h1 class="modal-container-title">
                    Políticas de Privacidad
                </h1>
                <button onclick="location.href='#'" class="icon-button">
                    X
                </button>
            </header>
            <selection class="modal-container-body">
                <h3>
                    DATOS PERSONALES QUE SE RECABAN 
                </h3>
                <br>
                <p>
                    COPAMEX podrá recabar, y en su caso tratar, los datos personales que a continuación se especifican:
                         i) nombre, ii) domicilio fiscal, iii) acta constitutiva, iv) poder del representante legal, 
                         v) Identificación Oficial, vi) dirección de correo electrónico, 
                         vii) número de teléfono fijo y/o de teléfono celular, viii) 
                         información de pago (número de cuenta bancaria o CLABE interbancaria), 
                         viii) RFC y ix) cualquier otra documentación o información que se relacione 
                         con la relación comercial que exista o pueda existir entre COPAMEX y Usted. 
                    COPAMEX tratará sus datos personales únicamente por el tiempo que sea necesario 
                    a fin de cumplir con las finalidades descritas en el presente 
                    Aviso de Privacidad y/o de conformidad con lo que establezcan las 
                    disposiciones legales aplicables.
                </p>
            </selection>
            <footer class="modal-container-footer">
                <button class="button is-ghost" id="idButtonNOk">Rechazar</button>
                <button class="button is-primary" id="idButtonOk">Aceptar</button>   
            </footer>
        </article>
    </div>
</div>