<div class="wrapper">
    <div class="user-card">
        <div class="user-card-img">
            <img id="employeeImage" src="" alt="">
        </div>
        <div class="user-card-info">
            <h2 id="employeeName"></h2>
            <p id="employeePayroll"><span>Nomina:</span></p>
            <p id="employeeArea"><span>Area:</span></p>
            <p id="employeePosition"><span>Puesto:</span></p>
            <p id="employeeDate"><span>Fecha:</span></p>
            <p id="employeeHour"><span>Hora:</span></p>
        </div>
    </div>
</div>