<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styleSheetForgetPass.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <div class="container">
        <span></span>
        <span></span>
        <span></span>
        <form id="signupForm">
            <h2>Recupera Acceso</h2>
            <div class="inputBox">
                <input type="text" placeholder="Usuario" id="forgetUser">
            </div>
            <div class="inputBox">
                <input type="text" placeholder="Correo" id="forgetMail">
            </div>
            <div class="inputBox">
                <button class="btnLogin" type="button" id="forgetPass">Enviar</button>
            </div>
            <div class="inputBox group">
                <a href="/login"> Ya tienes una cuenta? <b id="signin">Inicia Sesión</b></a>
            </div>
        </form>
    </div>
</body>
<script src="/js/notiflix-Notiflix-78ca6fa/dist/notiflix-aio-3.2.7.min.js"></script>
<script src="/js/forgetPass.js"></script>
</html>