<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/linkCss.ejs') %>
    <link rel="stylesheet" href="/js/iziToast-master/dist/css/iziToast.min.css"> 
    <link rel="stylesheet" href="/css/styleSheetMain.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servivio de Comedor</title>
</head>
<body>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <img src="/img/Comedor.jpg" class="img-fluid imgComedor" alt="">
    </div>
    <div class="container">
        <div class="col-sm-3">
            <h4 class="mb-3">Numero de Nomina</h4>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="payrollNumber">
                <button class="btn btn-outline-secondary" onclick="seachPayroll()">Buscar</button>
            </div>
        </div>
        <hr class="my-4">
        <div class="row g-5 d-flex justify-content-center">
            <%- include('partials/userData.ejs')%>
        </div>
        <hr class="my-4">
        <div class="d-flex justify-content-center">
            <div class="col-sm-6 d-grid gap-3">
                <button type="button" class="btn btn-success" onclick="checkOrder()">Aceptar</button>
                <button type="button" class="btn btn-outline-danger" onclick="cancelOrder()">Cancelar</button>
            </div>
        </div>
        <%- include('partials/footer.ejs')%> 
    </div>
</body>
<script src="/js/notiflix-Notiflix-78ca6fa/dist/notiflix-aio-3.2.7.min.js"></script>
<script src="/js/iziToast-master/dist/js/iziToast.min.js" type="text/javascript"></script>
<script src="/js/popupMessage.js"></script>
<script src="/js/seachPayroll.js"></script>
</html>