<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('partials/linkCss.ejs') %>
    <link rel="stylesheet" href="/css/styleSheetResertPass.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablece Contrase単a</title>
</head>
<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="Phone image">
                </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0 text-muted">Restablece Contrase単a</p>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <label for="password-field" class="form-label">Nueva Contrase単a</label>
                    <div class="input-group mb-3">
                        <input type="password" id="passwordInput" class="form-control" placeholder="">
                        <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                    <label for="password-field" class="form-label">Confirma Contrase単a</label>
                    <div class="input-group mb-3">
                        <input type="password" id="confirmPasswordInput" class="form-control" placeholder="">
                        <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" onclick="resetPassword()">Restablecer</button>
            </div>
        </div>
    </section>
</body>
<script src="/js/notiflix-Notiflix-78ca6fa/dist/notiflix-aio-3.2.7.min.js"></script>
<script src="/js/popupMessage.js"></script>
<script src="/js/resetPassword.js"></script>
</html>